<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="primary">
      <ion-back-buttons routerLink="/home/tabs/index">back</ion-back-buttons>
    </ion-buttons>
    <ion-title>Insert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nama</ion-label>
        <ion-input type="text" ngModel name="nama"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input type="text" ngModel name="telepon"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="text" ngModel name="email"></ion-input>
      </ion-item>

      <ion-item style="margin-top: 20px ; font-size: 17px" routerLink="/insert/map">
        <ion-label  position="" color="primary">Coordinate location <br>
          <ion-label style="margin-top: 8px" color="dark" >{{coordinate}}</ion-label>
        </ion-label>

      </ion-item>

    </ion-list>
    <ion-button type="submit" color="primary" expand="block">Simpan</ion-button>
  </form>
</ion-content>
