<ion-header >
  <ion-toolbar color="secondary">
    <ion-title>{{userEmail}} - Profile</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logOut()">
        LogOut 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  
  
<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        
        <h1 style="text-align: center;">{{namaD}} {{namaB}}</h1>
        <h2 style="text-align: center;">{{email}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
